.breadcrump-container {
    margin-top: 10rem;
    height: 20rem;
    width: 100%;
    background-image: url('../../public/images/headerImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}