
/* ###################################### Start Header ###################################### */
.header {
    height: 100vh;
    overflow-x: hidden;
    background: url("../../public/images/headerImg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  .header::before {
    background-color: rgba(0, 0, 0, 0.25);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .header .container {
    z-index: 1;
    position: relative;
  }

  .header-info {
    position: absolute;
    top: 22%;
    left: 0;
  }
  
  .header h1 {
    font-size: 2.5rem;
    opacity: 0.9;
  }
  
  .header p {
    margin-top: 1.5rem;
    font-size: 1.15rem;
    opacity: 0.8;
  }
  
  .get-started-btn {
    background-color: transparent;
    border: 3px solid #0891b2;
    color: #fff;
    font-size: 1.25rem;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 1.75rem;
  }
  
  .get-started-btn:hover {
    border: 3px solid #fff;
    color: #fff;
    transition: all 0.3s;
  }
  
  @keyframes transitionInFromTop {
    from {
      transform: translateY(-100%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes transitionInFromBottom {
    from {
      transform: translateY(50%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  h1 {
    animation: transitionInFromTop 0.8s ease-in-out forwards;
  }
  
  .header p {
    animation: transitionInFromBottom 0.8s ease-in-out forwards;
  }
  
  .get-started-btn {
    animation: transitionInFromBottom 0.8s ease-in-out forwards;
  }
  
  /* ###################################### End Header ###################################### */


  /* ###################################### Media Queries ######################################  */
@media (max-width: 400px) {
  /* Headings and text */
  .header h1 {
    font-size: 2rem;
    opacity: 0.9;
  }
}