/* ###################################### Start: Services ###################################### */

.services-container {
  margin: 5rem auto;
}

.services-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h3.card-title {
  font-size: 1.5rem;
}

.service-box-img {
  position: relative;
}
 
.btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-box-img:hover .btn-overlay {
  opacity: 1;
  visibility: inherit;
}
