@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('./styles/Topbar.css');
@import url('./styles/Navbar.css');
@import url('./styles/Header.css');
@import url('./styles/AppBreadcrump.css');
@import url('./styles/FAQ.css');
@import url('./styles/Footer.css');
@import url('./styles/Info.css');
@import url('./styles/Projects.css');
@import url('./styles/Services.css');
@import url('./styles/About.css');
@import url('./styles/Contact.css');



#root {
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading-h2 {
  font-size: 2rem;
  color: #475569;
  margin-bottom: 50px;
}

.input-outline {
  outline: none; 
}

.form-control:focus,
.form-select:focus {
  outline: none; 
  border-color: #032c41; 
  box-shadow: 0 0 0 4px rgba(1, 51, 58, 0.9); 
}

.invalid {
  outline: none;
  border-color: rgb(133, 18, 3);
  box-shadow: 0 0 0 4px rgba(188, 29, 8, 0.9); 
}

.top-space {
  margin-top: 8rem;
}

.rounded-large {
  border-radius: 20px;
}

.no-display {
  display: none;
}

.align-right {
  text-align: right;
}


button.submit-btn {
  background: #3498db;
  border: none;
  background-image: -webkit-linear-gradient(top, #083344, #115e59);
  background-image: -moz-linear-gradient(top, #083344, #115e59);
  background-image: -ms-linear-gradient(top, #083344, #115e59);
  background-image: -o-linear-gradient(top, #083344, #115e59);
  background-image: linear-gradient(to bottom, #083344, #115e59);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  width: 100%;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: background-image 0.3s ease;
}

button.submit-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #064d7c, #083344);
  background-image: -moz-linear-gradient(top, #064d7c, #083344);
  background-image: -ms-linear-gradient(top, #064d7c, #083344);
  background-image: -o-linear-gradient(top, #064d7c, #083344);
  background-image: linear-gradient(to bottom, #064d7c, #083344);
  text-decoration: none;
}

p {
  font-size: 1rem;
}

.toast-container {
  z-index: 9999;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; /* Adjust as needed */
}

.home-container {
  min-height: 100vh;
}

/* ###################################### Spinner ###################################### */


.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; 
  padding: 20px; 
}
